<div id="chatMessages"></div>
<form class="chatSendContainer" hx-post="/send_message" hx-trigger="submit" hx-swap="none" hx-target="#dummyElement">
    <input class="chatSendContentField" type="text" name="content">
    <button class="chatSendButton" type="submit">Send</button>
    <input style="display: none;" name="receiver" value="{{ secondary_username }}">
</form>

<!-- this reloads the chat every second -->
<!-- i know it's "scheiße", dont tell me -->
<div hx-trigger="every 1s" hx-get="/chat_messages/{{ secondary_username }}" hx-target="#chatMessages" hx-swap="innerHTML"></div>
