{% extends "home.jinja2" %}

{% block title %}Friends - ObjectiveChat{% endblock %}
{% block head %}<link rel="stylesheet" href="/static/css/friends.css">{% endblock %}

{% block mainContainer %}
{% include "friends_list.jinja2" %}
{% endblock %}