<div class="relationsContainer">
    {% for relation in relations %}
    <a href="/chat_page/{{ relation.secondary_username }}">
    <button class="chatButton">
        <p class="chatButtonUsername">{{ relation.secondary_username }}</p>
    </button>
    </a>
    {% endfor %}
</div>